.ansiedade__titulo{
    padding-top: 60px;
    margin-bottom: 60px;
}

.ansiedade__img{
    border: 1px solid var(--c11);
    margin-bottom: 60px;
}

.ansiedade__conteudo{
    padding: 20px;
    background-color: var(--p3);
    border-radius: 5px;
    margin-bottom: 32px;
    transition: .2s;
}

.ansiedade__conteudo.is-hover:hover{
    background-color: var(--s1);
}

.ansiedade__link{
    display: block;
}


.ansiedade__subtitulo,
.ansiedade__data-publicacao{
    border-bottom: 2px solid var(--p4);
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.ansiedade__data-publicacao,
.ansiedade__autor{
    display: block;
}

.ansiedade__conteudo--mb{
    margin-bottom: 60px;
}

@media(max-width: 600px){
    .header__lista--ansiedade,
    .sub-menu__lista--ansiedade{
        background-color: var(--p3);
    }
    .ansiedade__titulo{
        margin-bottom: 32px;
    }

    .ansiedade__img{
        margin-bottom: 32px;
    }

    .ansiedade__conteudo--mb{
        margin-bottom: 32px;
    }
}