@media(max-width: 800px){
    .ansiedade__titulo{
        margin-bottom: 40px;
    }

    .ansiedade__img{
        margin-bottom: 40px;
    }

    .ansiedade__conteudo--mb{
        margin-bottom: 40px;
    }
}

@media(max-width: 600px){
    .ansiedade__titulo{
        margin-bottom: 32px;
    }

    .ansiedade__img{
        margin-bottom: 32px;
    }

    .ansiedade__conteudo--mb{
        margin-bottom: 32px;
    }
}