@media(max-width: 800px){
    .depressao__titulo{
        margin-bottom: 40px;
    }

    .depressao__img{
        margin-bottom: 40px;
    }

    .depressao__conteudo--mb{
        margin-bottom: 40px;
    }
}

@media(max-width: 600px){
    .depressao__titulo{
        margin-bottom: 32px;
    }

    .depressao__img{
        margin-bottom: 32px;
    }

    .depressao__conteudo--mb{
        margin-bottom: 32px;
    }
}