.depressao__titulo{
    padding-top: 60px;
    margin-bottom: 60px;
}

.depressao__img{
    border: 1px solid var(--c11);
    margin-bottom: 60px;
}

.depressao__conteudo{
    padding: 20px;
    background-color: var(--p3);
    border-radius: 5px;
    margin-bottom: 32px;
    transition: .2s;
}

.depressao__conteudo.is-hover:hover{
    background-color: var(--s1);
}

.depressao__link{
    display: block;
}


.depressao__subtitulo,
.depressao__data-publicacao{
    border-bottom: 2px solid var(--p4);
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.depressao__data-publicacao,
.depressao__autor{
    display: block;
}

.depressao__conteudo--mb{
    margin-bottom: 60px;
}

@media(max-width: 800px){
    .depressao__titulo{
        margin-bottom: 40px;
    }

    .depressao__img{
        margin-bottom: 40px;
    }

    .depressao__conteudo--mb{
        margin-bottom: 40px;
    }
}

@media(max-width: 600px){
    .header__lista--depressao,
    .sub-menu__lista--depressao{
        background-color: var(--p3);
    }

    .depressao__titulo{
        margin-bottom: 32px;
    }

    .depressao__img{
        margin-bottom: 32px;
    }

    .depressao__conteudo--mb{
        margin-bottom: 32px;
    }
}