@media(max-width: 800px){
    .luto__titulo{
        margin-bottom: 40px;
    }

    .luto__img{
        margin-bottom: 40px;
    }

    .luto__conteudo--mb{
        margin-bottom: 40px;
    }
}

@media(max-width: 600px){
    .luto__titulo{
        margin-bottom: 32px;
    }

    .luto__img{
        margin-bottom: 32px;
    }

    .luto__conteudo--mb{
        margin-bottom: 32px;
    }
}