:root{
    --font-principal: 'Lato', sans-serif;
}

.font-xxl{
    font: 900 4rem var(--font-principal);
}

.font-xl{
    font: 700 3rem var(--font-principal);
}

.font-l{
    font: 400 2.25rem var(--font-principal);
}

.font-m{
    font: 400 1.5rem/1.35 var(--font-principal);
}

.font-m-b{
    font: 700 clamp(1.25rem, 3.4vw, 1.5rem)/1.35 var(--font-principal);
}

.font-s{
    font: 300 1.25rem/1.2 var(--font-principal);
}

.font-s-b{
    font: 700 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-principal);
}

.font-s-c{
    font: 400 1.25rem/1.2 var(--font-principal);
}

.font-s-upper{
    font: 700 1.25rem/1.2 var(--font-principal);
    text-transform: uppercase;
    letter-spacing: .15em;
}

.font-xs{
    font: 300 .875rem/1.45 var(--font-principal);
}

/* @media(max-width: 1000px){
    .font-xxl{
        font-size: 3rem;
        max-width: 20ch;
    }

    .font-l{
        font-size: 1.75rem;
    }

    .font-m{
        font-size: 1.125rem;
    }
}

@media(max-width: 800px){
    .font-xxl{
        font-size: 2rem;
        max-width: 20ch;
    }

    .font-l{
        font-size: 1.5rem;
    }

    .font-m-b{
        font-size: 1.5rem;
    }

    .font-s-c{
        font-size: 1rem;
    }
}

@media(max-width: 600px){
    .font-m{
        font-size: 1rem;
    }

    .font-m-b{
        font-size: 1.25rem;
    }

    .font-s-b{
        font-size: 1rem;
    }
} */