.container{
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}

.btn{
    display: inline-block;
    background-image: linear-gradient(var(--g1), var(--g2));
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--p3);
    font: 700 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-principal);
}

.btn-link{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: max-content;
    padding-bottom: 60px;
    font: 700 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-principal);
    text-transform: uppercase;
    letter-spacing: .15em;
    color: var(--p5);
}

.btn-link--after::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--p5);
}

.link-ativo{
    position: relative;
}

.link-ativo::before{
    content: "";
    display: block;
    background-color: var(--t1);
    width: 100%;
    height: 2px;
    top: calc(100% + 4px);
    position: absolute;
}