.ansiedade-texto{
    padding-top: 60px;
    padding-bottom: 60px;
}

.ansiedade-texto__titulo{
    margin-bottom: 20px;
}

.ansiedade-texto__subtitulo{
    margin-bottom: 32px;
}

.ansiedade-texto__texto{
    margin-bottom: 20px;
    max-width: 70ch;
}