body{
    background-color: var(--p2);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

img[src$=".jpg"]{
    border-radius: 5px;
}/*todo elemento img que tiver o atributo src e terminar com .jpg*/

a{
    color: inherit;
}