.intro__bg{
    background-color: var(--p3);
    padding-top: 60px;
    padding-bottom: 60px;
}

.intro__titulo{
    margin-bottom: 20px;
}

.intro__subtitulo{
    margin-bottom: 60px;
}

.intro__contatos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center;
    max-width: 820px;
}

.intro__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.intro__link--after::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--t1);
    position: absolute;
    top: 100%;
    transition: .2s ease-out;
}

.is-hover:hover::after{
    width: 100%;
}

.intro__icone{
    background-color: var(--p2);
    border-radius: 5px;
    border: 2px solid var(--p1);
}

.intro__img{
    width: 100%;
    padding: 20px;
}

@media(max-width: 1000px){
    .intro__contatos{
        gap: 40px;
    }

    .intro__img{
       width: 80px;
    }
}

@media(max-width: 800px){
    .intro__subtitulo{
        margin-bottom: 28px;
    }

    .intro__contatos{
        gap: 8px;
    }

    .intro__link{
        gap: 8px;
    }

    .intro__img{
        width: 60px;
        padding: 12px;
    }
}

@media(max-width: 600px){
    .intro__contatos{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .intro__link--after::after{
        display: none;
    }
}