.perguntas{
    padding-top: 60px;
    padding-bottom: 60px;
}

.perguntas__titulo{
    margin-bottom: 32px;
}

.perguntas__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.perguntas__conteudo{
    padding: 20px 32px;
    border-radius: 5px;
}

.perguntas__conteudo:nth-child(odd){
    background-color: var(--s1);
}

.perguntas__conteudo:nth-child(even){
    background-color: var(--s2);
}

.perguntas__pergunta{
    border: none;
    background-color: inherit;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    gap: 20px;
}

.perguntas__pergunta--after::after{
    content: "";
    display: block;
    width: 18px;
    height: 10px;
    background: url("../../img/icone/seta-abre-fecha.svg");
}

.perguntas__resposta{
    max-width: 65ch;
    display: none;
}

.perguntas__conteudo .is-ativo{
    display: block;
}

.perguntas__pergunta--rotacionar::after{
    transform: rotate(180deg);
}