.postagens__bg{
    background-color: var(--p3);
}

.postagens__titulo{
    margin-bottom: 40px;
}

.postagens__lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.postagens__link{
    display: block;
}

.postagens__block-img{
    padding: 20px;
    background-color: var(--p2);
    margin-bottom: 20px;
}

.postagens__subtitulo{
    border-bottom: 2px solid var(--p4);
    padding-bottom: 4px;
}

.postagens__data{
    display: block;
    margin-top: 4px;
    margin-bottom: 32px;
}

@media(max-width: 800px){
    .postagens__lista{
        gap: 20px;
    }
}

@media(max-width: 600px){
    .postagens__lista{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 32px;
    }

    .postagens__block-img{
        margin-bottom: 8px;
    }

    .postagens__img{
        max-width: 180px;
    }

    .postagens__data{
        margin-bottom: 0;
    }

    .btn--mt{
        margin-top: 32px;
    }
}