.sobre-mim__bg{
    background-color: var(--p3);
}

.sobre-mim__cotainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: end;
}

.sobre-mim__titulo{
    margin-bottom: 20px;
}

.sobre-mim__texto{
    margin-bottom: 32px;
}

@media(max-width: 800px){
    .sobre-mim__cotainer{
        grid-template-columns: 1fr;
    }

    .sobre-mim__conteudo{
        grid-row: 2;
    }

    .sobre-mim__img{
        margin: auto;
        max-width: 50%;
    }
}

@media(max-width: 600px){
    .sobre-mim__cotainer{
        gap: 20px;
    }

    .sobre-mim__img{
        max-width: 70%;
    }
}