.temas{
    position: relative;
}

.temas__titulo{
    margin-bottom: 40px;
    max-width: initial;
}

.temas__lista-corresel{
    overflow: hidden;
}

.temas__corressel{
    display: flex;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    transition: .4s ease-in-out;
    transform: translateX(0);/* move o elemento no eixo X */
}

.temas__item-slide{
    background-color: var(--p3);
    padding: 20px;
    min-width: 320px;
}

.temas__link{
    display: block;
}

.temas__subtitulo{
    margin-top: 20px;
}

.temas__btn{
    border: 0;
    background-color: transparent;
    position: absolute;
    display: block;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
}

.temas__btn--hover:hover{
    background-color: var(--s1);
}

.temas__btn--esquerdo{
    left: 12px;
}

.temas__btn--direito{
    right: 12px;
    transform: rotate(180deg);
}

@media(max-width: 800px){
    .temas__item-slide{
        min-width: 240px;
    }
}

@media(max-width: 600px){
    .temas__corressel{
        gap: 20px;
        padding-left: 40px;
        padding-right: 20px;
    }

    .temas__titulo{
        margin-bottom: 32px;
    }

    .temas__item-slide{
        min-width: 160px;
        padding: 8px;
    }

    .temas__subtitulo{
        margin-top: 8px;
    }

    .temas__btn-img{
        width: 16px;
    }
}