.mensagem__titulo{
    margin-bottom: 40px;
}

.mensagem__dados{
    margin-bottom: 32px;
}

.mensagem__label{
    display: block;
    margin-bottom: 8px;
}

.mensagem__input{
    width: 200px;
    height: 40px;
    font: 400 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-principal);
    padding-left: 8px;
    border: 1px solid var(--p1);
    border-radius: 5px;
}

.mensagem__dados--mb{
    margin-bottom: 40px;
}

.mensagem__text-area{
    font: 400 clamp(1rem, 2.5vw, 1.25rem)/1.2 var(--font-principal);
    padding-top: 8px;
    padding-left: 8px;
    border: 1px solid var(--p1);
    border-radius: 5px;
}

.mensagem__input:focus,
.mensagem__text-area:focus{
    outline: none;
    border-color: var(--t1);
    box-shadow: 0 0 0 2px var(--t2);
}

.mensagem__limite{
    display: block;
    margin-top: 8px;
}

@media(max-width: 800px){
    .mensagem__titulo{
        margin-bottom: 40px;
    }

    .mensagem__dados--mb{
        margin-bottom: 40px;
    }
}

@media(max-width: 600px){
    .mensagem{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .mensagem__titulo{
        margin-bottom: 20px;
    }

    .mensagem__dados--mb{
        margin-bottom: 20px;
    }
}